 .left_contents {
     display: flex;
     height: 100vh;
     justify-content: center;
     color: rgb(255, 0, 0);
     flex-direction: column;
     text-align: center;
     padding: 20px 0px 0px 0px;
     gap: 20px;




 }